.hardcore-modal {
  position: relative;
  height: 100vh;
  width: 100vw;
  .hardcore-opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  .hardcore-content-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
}