.hardcore-modal {
  position: relative;
  height: 100vh;
  width: 100vw;
  .hardcore-opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
  }
  .hardcore-content-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 255, 253);
    min-height: 175px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    color: black;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    .is-rap {
      border: 2px solid black;
      padding: 0.5rem 0.5rem;
      border-radius: 5px;
      .lyric-artist-wrapper {
        display: flex;
        flex-direction: column;
      }
      .click-here {
        border-radius: 5px;
        font-size: 0.9rem;
      }
      .artist-name {
        width: 100%;
        font-size: 1.2rem;
        font-family: 'Fredericka the Great', cursive;
      }
    }
    .results {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      gap: 1rem;
      font-family: 'ADLaM Display', cursive;
      font-size: 0.8rem;
      .safe {
        background-color: lightgreen;
        border: 2px solid green;
        padding: 0.4rem 0;
      }
      .drink {
        background-color: pink;
        border: 2px solid red;
        padding: 0.5rem 0;
      }
      .safe, .drink {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        border-radius: 5px;
        // justify-content: center;
      }
      .safe-header {
        font-size: 1.5rem;
        font-family: 'Fredericka the Great', cursive;
        color: green;
        text-decoration: underline;
      }
      .drink-header {
        font-size: 1.5rem;
        font-family: 'Fredericka the Great', cursive;
        text-decoration: underline;
        color: red;
      }
    }
    .next-lyric {
      font-family: 'Fredericka the Great', cursive;
      font-size: 1.5rem;
      width: 100%;
      height: 70px;
      background-color: var(--background-color);
      color: var(white);
      border: 2px solid var(--background-color);
      transition: all 300ms ease;
      &:hover {
        background-color: var(--sky-blue-hover);
        color: white;
        border: 2px solid var(--sky-blue);
        transition: all 300ms ease;
      }
      &:active {
        background-color: var(--sky-blue-active);
        transition: all 300ms ease;
      }
    }
    .is-crap {
      padding: 0.2rem 0.6rem;
      border: 2px solid black;
      background-color: rgb(255, 109, 109);
      font-family: 'Fredericka the Great', cursive;
    }
    .is-rap, .is-crap {
      font-family: 'ADLaM Display', cursive;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      background-color: rgb(0, 31, 40);
      color: var(--grey);
      .is-rap-lyric {
        color: rgb(255, 54, 54);
        font-size: 1rem;
        font-family: 'Cookie', cursive;
      }
      .click-here {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      p {
        margin: 0;
        .lyric-link {
          text-decoration: none;
          color: black;
          background-color: var(--sky-blue);
          padding: 0.4rem 0.5rem;
          border-radius: 5px;
          font-family: 'Fredericka the Great', cursive;
          border: 2px solid var(--background-color);
          &:hover {
            background-color: var(--sky-blue-hover);
            color: white;
            border: 2px solid var(--sky-blue);
            transition: all 300ms ease;
          }
          &:active {
            background-color: var(--sky-blue-active);
            transition: all 300ms ease;
          }
        }
      }

    }
    .is-crap {
      background-color: rgb(255, 141, 141);
      width: 90%;
    }
    .crap-header {
      font-family: 'Fredericka the Great', cursive;
      font-size: 2rem;
      color: black;
    }
    .rap-header {
      font-family: 'Fredericka the Great', cursive;
      width: 90%;
      text-align: center;
      font-size: 2rem;
      padding: 0.2rem 0.6rem;
      border: 2px solid black;
      background-color: rgb(109, 255, 141);
      font-family: 'Fredericka the Great', cursive;
      margin: 0;
    }
  }
}