.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  button {
    width: 200px;
  }
  .answer-buttons {
    display: flex;
    gap: 1rem;
  }
}
.no-more-lyrics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}