.game-wrapper {
  width: 90%;
  height: calc(100% - 16px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .spacer {
    width: 100%;
    height: 2px;
    background-color: var(--background-lighter);
    margin-top: 1rem;
  }
}

.top-wrapper {
  max-height: 85%;
}

.begin-button {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5rem;
  width: 100%;
  height: 10%;
  background-color: var(--sky-blue);
  color: black;
  border: 2px solid var(--background-color);
  transition: all 300ms ease;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: all 300ms ease;
  &.modify {
    background-color: rgb(76, 76, 76);
    transition: all 300ms ease;
    &:hover {
      background-color: rgb(68, 68, 68);
      border: 2px solid black;
      color: black;
    }
    &:active {
      background-color: rgb(76, 76, 76);
    }
  }
  &:hover {
    background-color: var(--sky-blue-hover);
    color: white;
    border: 2px solid var(--sky-blue);
    transition: all 300ms ease;
  }
  &:active {
    background-color: var(--sky-blue-active);
    transition: all 300ms ease;
  }
}

.instructions {
  margin-bottom: 1rem;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
}
.input-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  .player-add {
    height: 30px;
    padding: 0.2rem 0.4rem;
    width: 90%;
    font-size: 1rem;
    font-family: 'ADLaM Display', cursive;
  }
  .add-player-btn {
    padding: 0.6rem 1.5rem;
    font-family: 'ADLaM Display', cursive;
    background-color: var(--background-color);
    border: 2px solid var(--sky-blue);
    width: 94%;
  }
}
.player-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: scroll;
  background-color: var(--background-color);
  border: 2px solid var(--background-lighter);
  border-radius: 5px;
  padding: 1rem;
  max-height: 50%;
  opacity: 0;
  &.show {
    opacity: 1;
  }
  @media (min-height: 700px) {
    max-height: 55%;
  }
  @media (min-height: 750px) {
    max-height: 58%;
  }
  @media (min-height: 800px) {
    max-height: 61%;
  }
  .player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-lighter);
    font-family: 'ADLaM Display', cursive;
    border-radius: 5px;
    .player-name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .remove-player {
      background-color: red;
      color: black;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.rap {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  height: 30%;
  background-color: rgb(255, 255, 255);
  color: var(--sky-blue-hover);
  border: 2px solid var(--sky-blue-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: 'ADLaM Display', cursive;
  font-size: 1.5rem;
  overflow: scroll;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
.player-answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 70%;
  overflow: auto;
  padding: 1rem;
  border: 2px solid var(--background-lighter);
  border-radius: 5px;
  background-color: var(--background-color);
  // border: 1px solid greenyellow;
}
.player-ans-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.submit-all-answers {
  margin: 1rem 0 2rem 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5rem;
  width: 100%;
  height: 70px;
  background-color: var(--sky-blue);
  color: black;
  border: 2px solid var(--background-color);
  transition: all 300ms ease;
  &:hover {
    background-color: var(--sky-blue-hover);
    color: white;
    border: 2px solid var(--sky-blue);
    transition: all 300ms ease;
  }
  &:active {
    background-color: var(--sky-blue-active);
    transition: all 300ms ease;
  }
}

.scoreboard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: greenyellow;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
}