.player-answer-select {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid var(--sky-blue);
  border-radius: 5px;
  @media (max-width: 345px) {
    font-size: 0.8rem;
    height: 40px;
  }
  // overflow: hidden;
  .player-name-2 {
    width: 50%;
    background-color: var(--background-lighter);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    // overflow: hidden;
    .name {
      display: flex;
      position: relative;
      align-items: center;
      .percent-span {
        border: 2px solid rgb(19, 19, 19);
        font-size: 0.5rem;
        padding: 0.2rem;
        height: 15px;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: absolute;
        right: 0;
        margin-right: 5px;
        color: black;
        &.red-worst {
          background-color: rgb(109, 0, 0);
        }
        &.red {
          background-color: rgb(218, 0, 0);
        }
        &.orange-worst {
          background-color: rgb(178, 116, 0);
        }
        &.orange {
          background-color: orange;
        }
        &.yellow {
          background-color: rgb(255, 255, 0);
        }
        &.light-green-worst {
          background-color: rgb(0, 255, 0)
        }
        &.light-green {
          background-color: rgb(0, 194, 0)
        }
        &.green-worst {
          background-color: rgb(0, 156, 0);
        }
        &.green {
          background-color: rgb(0, 125, 0);
        }
      }
    }
    .score-icon {
      position: absolute;
      background-color: var(--background-color);
      font-family: 'ADLaM Display', cursive;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      font-size: 0.7rem;
      border: 1px solid var(--sky-blue);
      top: -25%;
      left: -10%;
      z-index: 1;
      @media (min-width: 375px) {
        left: -6%;
      }
      &.red-worst {
        color: rgb(109, 0, 0);
      }
      &.red {
        color: rgb(218, 0, 0);
      }
      &.orange-worst {
        color: rgb(178, 116, 0);
      }
      &.orange {
        color: orange;
      }
      &.yellow {
        color: rgb(255, 255, 0);
      }
      &.light-green-worst {
        color: rgb(0, 255, 0)
      }
      &.light-green {
        color: rgb(0, 194, 0)
      }
      &.green-worst {
        color: rgb(0, 156, 0);
      }
      &.green {
        color: rgb(0, 125, 0);
      }
    }
    .name {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'ADLaM Display', cursive;
      border-radius: 5px;
    }
    .bar-wrapper {
      position: relative;
      width: 100%;
      height: 10px;
      background-color: var(--sky-blue-active);
      overflow: hidden;
      border-bottom-left-radius: 3px;
      .bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        background-color: var(--sky-blue);
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  position: relative;
  width: 50%;
  .rap-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: background-color 300ms ease;
    border-right: 1px solid var(--background-lighter);
    font-family: 'Fredericka the Great', cursive;
    width: 100%;
    background-color: var(--background-color);
    padding: 0.6rem 1rem;
    &:hover {
      background-color: var(--sky-blue-hover);
      color: white;
      border: 1px solid transparent;
      transition: all 300ms ease;
    }
    &.active {
      background-color: var(--sky-blue);
      color: black;
      transition: all 300ms ease;
    }
  }
  .crap-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 300ms ease;
    width: 100%;
    font-family: 'Fredericka the Great', cursive;
    background-color: var(--background-color);
    color: white;
    transition: all 300ms ease;
    padding: 0.6rem 1rem;
    &:hover {
      background-color: var(--sky-blue-hover);
      color: white;
      border: 1px solid transparent;
      transition: all 300ms ease;
    }
    &.active {
      background-color: var(--sky-blue);
      color: black;
      transition: all 300ms ease;
    }
  }
  .spacer {
    border: 1px solid var(--gold);
    height: 20px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-225%, -50%);
  }
  .rap-btn {
    color: white;
  }
}