.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 400px;
  .player-name {
    width: 100%;
    background-color: green;
    .name {
      width: 100%;
    }
    .bar-wrapper {
      position: relative;
      width: 100%;
      height: 10px;
      background-color: black;
      .bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        background-color: orange;
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  position: relative;
  .rap-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 300ms ease;
    &.active {
      background-color: red;
      transition: background-color 300ms ease;
    }
  }
  .crap-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: background-color 300ms ease;
    &.active {
      background-color: red;
      transition: background-color 300ms ease;
    }
  }
  .spacer {
    border: 1px solid var(--gold);
    height: 20px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-225%, -50%);
  }
}